* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f2f4f7;
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ecef;
}

.car-img {
  width: 85%;
  opacity: 0.9;
}

.right {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h2 {
  color: #0b8c70;
  margin-bottom: 25px;
}

form {
  width: 70%;
}

.input-box {
  width: 100%;
  height: 45px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.icon {
  margin-right: 8px;
  opacity: 0.6;
}

.check-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #9ba4ad;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #7f8890;
}

.msg {
  margin-top: 18px;
  font-weight: bold;
}

.erro {
  color: #d9534f;
}

.sucesso {
  color: #0b8c70;
}
