
* {
  font-family: 'Roboto', sans-serif;
}

/* HEADER (topo) */
.top-bar {
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px #00000020;
  z-index: 10;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  margin-right: 20px;
  color: #333;
}

.logo {
  width: 110px;
}

/* MENU LATERAL */
.side-menu {
  width: 250px;
  height: 100%;
  background: white;
  position: fixed;
  top: 60px;
  left: -260px;
  transition: 0.3s;
  padding-top: 15px;
  box-shadow: 3px 0 6px #00000020;
  z-index: 20;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 10px;
}

.side-menu li {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  transition: 0.2s;
}

.side-menu li:hover,
.side-menu li.active {
  background: #e8f0ff;
  color: #0a4ea3;
  font-weight: bold;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 15;
}

/* ÁREA PRINCIPAL */
.container {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}

/* CARD DO FORM */
.form-card {
  width: 95%;
  background: #fff;
  display: flex;
  gap: 40px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px #00000030;
}

/* COLUNA IMAGEM */
.image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-image {
  width: 100%;
}

/* COLUNA FORM */
.form-area {
  flex: 1.3;
}

.titulo {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

/* INPUTS */
.input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.input:focus {
  border-color: #1d4ed8;
  box-shadow: 0 0 5px #1d4ed833;
  outline: none;
}

.select {
  height: 45px;
  color: #555;
}

/* BOTÃO */
.btn-enviar {
  width: 180px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  float: right;
  background: #1d4ed8;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-enviar:hover {
  background: #113a9f;
}

/* RESPONSIVO */
@media (max-width: 850px) {
  .form-card {
    flex-direction: column;
    text-align: center;
  }

  .form-area {
    text-align: left;
  }
}

